{% load i18n component_tags %}

{% component "tabbar" oob=oob %}
    {% fill "tabs" %}
    {% component "tab" url="marketplace:index" icon="cube-outline" label=_("Modules") view="modules" current_view=store_type %}{% endcomponent %}
    {% component "tab" url="marketplace:store_hubs" icon="server-outline" label=_("Hubs") view="hubs" current_view=store_type %}{% endcomponent %}
    {% component "tab" url="marketplace:index" icon="hardware-chip-outline" label=_("Components") disabled=True badge=_("Soon") badge_color="medium" %}{% endcomponent %}
    {% component "tab" url="marketplace:cart_page" icon="cart-outline" label=_("Cart") view="cart" current_view=current_view badge=cart_count badge_color="danger" %}{% endcomponent %}
    {% endfill %}
{% endcomponent %}
