{% load djicons %}<button
    class="ux-button{% if fill == 'clear' %} ux-button--clear{% elif fill == 'outline' %} ux-button--outline{% endif %}{% if color %} ux-color-{{ color }}{% endif %}{% if size != 'default' and size %} ux-button--{{ size }}{% endif %}{% if expand == 'block' %} ux-button--block{% endif %}{% if css_class %} {{ css_class }}{% endif %}"
    {% if disabled %}disabled{% endif %}
    {% if href %}onclick="window.location='{{ href }}'"{% endif %}
    {% if hx_get %}hx-get="{{ hx_get }}"{% endif %}
    {% if hx_post %}hx-post="{{ hx_post }}"{% endif %}
    {% if hx_target %}hx-target="{{ hx_target }}"{% endif %}
    {% if hx_swap %}hx-swap="{{ hx_swap }}"{% endif %}
    {% if hx_push_url %}hx-push-url="{{ hx_push_url }}"{% endif %}
    {% if hx_confirm %}hx-confirm="{{ hx_confirm }}"{% endif %}
    {% if x_click %}@click="{{ x_click }}"{% endif %}
    {% if x_show %}x-show="{{ x_show }}"{% endif %}
    {% if type != "button" %}type="{{ type }}"{% endif %}
    {% for key, value in extra_attrs.items %}{{ key }}="{{ value }}"{% endfor %}
>
    {% if icon and icon_slot == "start" %}
    {% icon icon %}
    {% endif %}
    {% if icon_slot != "icon-only" %}{{ label }}{% endif %}
    {% if icon and icon_slot == "end" %}
    {% icon icon %}
    {% endif %}
    {% if icon and icon_slot == "icon-only" %}
    {% icon icon %}
    {% endif %}
</button>
