<div class="ui-form-actions{% if css_class %} {{ css_class }}{% endif %}">
    {% if cancel_label %}
    <button
        class="ux-button ux-button--outline ux-color-medium"
        {% if cancel_url %}onclick="window.location='{{ cancel_url }}'"{% endif %}
        {% if cancel_hx_get %}hx-get="{{ cancel_hx_get }}"{% endif %}
        {% if cancel_hx_target %}hx-target="{{ cancel_hx_target }}"{% endif %}
    >
        {{ cancel_label }}
    </button>
    {% endif %}
    <button
        type="submit"
        class="ux-button ux-button--block{% if submit_color %} ux-color-{{ submit_color }}{% endif %}"
    >
        {{ submit_label }}
    </button>
</div>
