<div class="ui-form-actions{% if css_class %} {{ css_class }}{% endif %}">
    {% if cancel_label %}
    <ion-button
        fill="outline"
        color="medium"
        {% if cancel_url %}href="{{ cancel_url }}"{% endif %}
        {% if cancel_hx_get %}hx-get="{{ cancel_hx_get }}"{% endif %}
        {% if cancel_hx_target %}hx-target="{{ cancel_hx_target }}"{% endif %}
    >
        {{ cancel_label }}
    </ion-button>
    {% endif %}
    <ion-button
        type="submit"
        color="{{ submit_color }}"
        expand="block"
    >
        {{ submit_label }}
    </ion-button>
</div>
