{% load djicons %}<ion-button
    color="{{ color }}"
    fill="{{ fill }}"
    {% if size != "default" %}size="{{ size }}"{% endif %}
    {% if disabled %}disabled="true"{% endif %}
    {% if href %}href="{{ href }}"{% endif %}
    {% if hx_get %}hx-get="{{ hx_get }}"{% endif %}
    {% if hx_post %}hx-post="{{ hx_post }}"{% endif %}
    {% if hx_target %}hx-target="{{ hx_target }}"{% endif %}
    {% if hx_swap %}hx-swap="{{ hx_swap }}"{% endif %}
    {% if hx_push_url %}hx-push-url="{{ hx_push_url }}"{% endif %}
    {% if aria_label %}aria-label="{{ aria_label }}"{% endif %}
    {% if css_class %}class="{{ css_class }}"{% endif %}
    {% for key, value in extra_attrs.items %}{{ key }}="{{ value }}"{% endfor %}
>
    {% icon icon slot="icon-only" %}
</ion-button>
