{% load djicons %}<button
    class="ux-button{% if fill == 'clear' %} ux-button--clear{% elif fill == 'outline' %} ux-button--outline{% endif %}{% if color %} ux-color-{{ color }}{% endif %}{% if size != 'default' and size %} ux-button--{{ size }}{% endif %}{% if css_class %} {{ css_class }}{% endif %}"
    {% if disabled %}disabled{% endif %}
    {% if href %}onclick="window.location='{{ href }}'"{% endif %}
    {% if hx_get %}hx-get="{{ hx_get }}"{% endif %}
    {% if hx_post %}hx-post="{{ hx_post }}"{% endif %}
    {% if hx_target %}hx-target="{{ hx_target }}"{% endif %}
    {% if hx_swap %}hx-swap="{{ hx_swap }}"{% endif %}
    {% if hx_push_url %}hx-push-url="{{ hx_push_url }}"{% endif %}
    {% if aria_label %}aria-label="{{ aria_label }}"{% endif %}
    {% for key, value in extra_attrs.items %}{{ key }}="{{ value }}"{% endfor %}
>
    {% icon icon %}
</button>
