{% load djicons %}<ion-item
    {% if button or href or hx_get %}button="true" detail="false"{% endif %}
    {% if lines %}lines="{{ lines }}"{% endif %}
    {% if href %}href="{{ href }}"{% endif %}
    {% if hx_get %}hx-get="{{ hx_get }}"{% endif %}
    {% if hx_target %}hx-target="{{ hx_target }}"{% endif %}
    {% if hx_push_url %}hx-push-url="{{ hx_push_url }}"{% endif %}
    {% if css_class %}class="{{ css_class }}"{% endif %}
    {% for key, value in extra_attrs.items %}{{ key }}="{{ value }}"{% endfor %}
>
    {% if avatar %}
    <ion-avatar slot="start">
        <img src="{{ avatar }}" alt="">
    </ion-avatar>
    {% elif icon %}
    {% icon icon slot="start" %}
    {% endif %}
    <ion-label>
        <h2>{{ label }}</h2>
        {% if detail %}<p>{{ detail }}</p>{% endif %}
    </ion-label>
    {% if button or href or hx_get %}
    {% icon "chevron-forward-outline" slot="end" %}
    {% endif %}
</ion-item>
