{% load djicons %}<div
    class="ux-list__item ui-nav-item nav-item{% if active %} active{% endif %}{% if css_class %} {{ css_class }}{% endif %}"
    {% if url %}data-href="{{ url }}"{% endif %}
    {% if hx_get %}hx-get="{{ hx_get }}"{% endif %}
    {% if hx_target %}hx-target="{{ hx_target }}"{% endif %}
    {% if hx_push_url %}hx-push-url="true"{% endif %}
    {% for key, value in extra_attrs.items %}{{ key }}="{{ value }}"{% endfor %}
    role="button"
>
    {% if icon %}
    <span class="ux-list__item-start">{% icon icon %}</span>
    {% endif %}
    <span>{{ label }}</span>
    {% if badge %}
    <span class="ux-badge ux-color-danger ux-list__item-end">{{ badge }}</span>
    {% endif %}
    {% if detail %}
    <span class="ux-list__item-end">{% icon "chevron-forward-outline" %}</span>
    {% endif %}
</div>
