<ion-item
    button="true"
    detail="false"
    lines="{{ lines }}"
    {% if url %}href="{{ url }}"{% endif %}
    {% if hx_get %}hx-get="{{ hx_get }}"{% endif %}
    {% if hx_target %}hx-target="{{ hx_target }}"{% endif %}
    {% if hx_push_url %}hx-push-url="true"{% endif %}
    class="ui-nav-item nav-item{% if active %} active{% endif %}{% if css_class %} {{ css_class }}{% endif %}"
    {% for key, value in extra_attrs.items %}{{ key }}="{{ value }}"{% endfor %}
>
    {% if icon %}
    <ion-icon slot="start" name="{{ icon }}"></ion-icon>
    {% endif %}
    <ion-label>{{ label }}</ion-label>
    {% if badge %}
    <ion-badge slot="end" color="danger">{{ badge }}</ion-badge>
    {% endif %}
    {% if detail %}
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    {% endif %}
</ion-item>
