{% if type == "text" %}
<div class="ui-skeleton-text">
    {% for i in "x"|ljust:lines %}
    <div class="ux-skeleton{% if animated %} ux-skeleton--animated{% endif %}" style="width: {% widthratio forloop.counter 1 100|add:"-20" %}%"></div>
    {% endfor %}
</div>
{% elif type == "avatar" %}
<div class="ux-skeleton{% if animated %} ux-skeleton--animated{% endif %}" style="width: 48px; height: 48px; border-radius: 50%"></div>
{% elif type == "image" %}
<div class="ux-skeleton{% if animated %} ux-skeleton--animated{% endif %}" style="width: 100%; height: 200px"></div>
{% elif type == "card" %}
<div class="ux-card">
    <div class="ux-card__header">
        <div class="ux-skeleton{% if animated %} ux-skeleton--animated{% endif %}" style="width: 60%"></div>
    </div>
    <div class="ux-card__body">
        <div class="ux-skeleton{% if animated %} ux-skeleton--animated{% endif %}" style="width: 100%"></div>
        <div class="ux-skeleton{% if animated %} ux-skeleton--animated{% endif %}" style="width: 80%"></div>
        <div class="ux-skeleton{% if animated %} ux-skeleton--animated{% endif %}" style="width: 60%"></div>
    </div>
</div>
{% endif %}
