{% load djicons %}<ion-tab-button
    {% if url %}href="{{ url }}"{% endif %}
    {% if hx_get %}hx-get="{{ hx_get }}"{% endif %}
    {% if hx_target %}hx-target="{{ hx_target }}"{% endif %}
    {% if hx_push_url %}hx-push-url="true"{% endif %}
    class="{% if active %}tab-selected{% endif %}{% if css_class %} {{ css_class }}{% endif %}"
    {% for key, value in extra_attrs.items %}{{ key }}="{{ value }}"{% endfor %}
>
    {% if icon %}
    {% icon icon %}
    {% endif %}
    <ion-label>{{ label }}</ion-label>
    {% if badge %}
    <ion-badge color="danger">{{ badge }}</ion-badge>
    {% endif %}
</ion-tab-button>
