<ion-item {% if css_class %}class="{{ css_class }}"{% endif %} {% if error_text %}class="ion-invalid"{% endif %}>
    {% if label %}
    <ion-label position="{{ label_position }}">{{ label }}{% if required %}<span class="ui-required">*</span>{% endif %}</ion-label>
    {% endif %}
    <ion-textarea
        name="{{ name }}"
        rows="{{ rows }}"
        {% if value %}value="{{ value }}"{% endif %}
        {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
        {% if required %}required="true"{% endif %}
        {% if disabled %}disabled="true"{% endif %}
        {% if readonly %}readonly="true"{% endif %}
        {% for key, value in extra_attrs.items %}{{ key }}="{{ value }}"{% endfor %}
    >{{ value }}</ion-textarea>
</ion-item>
{% if helper_text and not error_text %}
<ion-note class="ui-helper-text">{{ helper_text }}</ion-note>
{% endif %}
{% if error_text %}
<ion-note class="ui-error-text" color="danger">{{ error_text }}</ion-note>
{% endif %}
