<div class="ux-list__item{% if css_class %} {{ css_class }}{% endif %}">
    {% if label %}
    <label class="ux-label" for="id_{{ name }}">{{ label }}</label>
    {% endif %}
    <input
        type="checkbox"
        class="ux-toggle"
        id="id_{{ name }}"
        name="{{ name }}"
        value="{{ value }}"
        {% if checked %}checked{% endif %}
        {% if disabled %}disabled{% endif %}
        {% for key, val in extra_attrs.items %}{{ key }}="{{ val }}"{% endfor %}
    >
</div>
