{% load i18n %}
{% load ui %}

{% if MODULE_MENU_ITEMS %}
    {% for item in MODULE_MENU_ITEMS %}
        {% if item.has_submenu %}
        {% ui_accordion_group %}
            {% ui_accordion header_label=item.label header_icon=item.icon %}
                {% for subitem in item.items %}
                {% ui_submenu_item label=subitem.label icon=subitem.icon hx_get=subitem.url hx_target="#main-content-area" %}
                {% endfor %}
            {% endui_accordion %}
        {% endui_accordion_group %}
        {% else %}
        {% ui_nav_item label=item.label icon=item.icon hx_get=item.url hx_target="#main-content-area" %}
        {% endif %}
    {% endfor %}
{% else %}
{% ui_empty_nav_item label=_("No active modules") %}
{% endif %}
