{% load i18n %}
{% load ui %}

{% ui_grid_start padding=False %}
    {% ui_row_start %}
        {% for module in modules %}
            {% include "system/modules/partials/module_card.html" with module=module mode="installed" %}
        {% empty %}
        {% ui_col_start size="12" %}
            {% if search_query %}
            {% ui_empty_state title=_("No modules found") description=_("Try a different search term") icon="search-outline" %}
            {% else %}
            {% ui_empty_state title=_("No modules installed") description=_("Explore the Marketplace to extend your Hub") icon="extension-puzzle-outline" action_label=_("Browse Marketplace") action_hx_get=marketplace_url action_hx_target="#main-content-area" %}
            {% endif %}
        {% ui_col_end %}
        {% endfor %}
    {% ui_row_end %}
{% ui_grid_end %}
