{% load i18n %}

<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <!-- Menu Toggle Button -->
            <ion-button @click="toggleMenu()">
                <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>{% block header_title %}{{ page_title|default:"Dashboard" }}{% endblock %}</ion-title>

        <ion-buttons slot="end">
            <!-- Fullscreen Toggle -->
            <ion-button @click="toggleFullscreen()">
                <ion-icon slot="icon-only" :name="isFullscreen ? 'contract-outline' : 'expand-outline'"></ion-icon>
            </ion-button>

            <!-- Theme Toggle -->
            <ion-button @click="toggleTheme()">
                <ion-icon slot="icon-only" :name="isDark ? 'sunny-outline' : 'moon-outline'"></ion-icon>
            </ion-button>

            <!-- User Menu -->
            <ion-button @click="handleUserMenu()">
                <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
