{% extends "app_base.html" %}
{% load i18n djicons %}

{% block main %}
<main id="main-content-area" class="content overflow-auto">
    <div class="page padding">
        {% block page_header %}
        <div class="header glass">
            <button class="btn btn-ghost btn-sm"
                    aria-label="{% trans 'Toggle navigation menu' %}"
                    @click="toggleDrawer()">
                {% icon "menu-outline" %}
            </button>
            <span class="font-semibold">{% block page_title %}{% endblock %}</span>
            <span class="loading loading-sm htmx-indicator"></span>
            {% block page_actions %}{% endblock %}
        </div>
        {% endblock %}

        <div class="content">
            {% block page_content %}{% endblock %}
        </div>

        {% block page_footer %}{% endblock %}
    </div>
</main>
{% endblock %}
