{% load i18n component_tags djicons %}

<div class="table-actions d-flex gap-xs justify-center"
     x-data="{ deleting: false }"
     x-init="$el._deleteConfig = { url: '{{ delete_url }}', name: '{{ delete_name|escapejs }}', method: '{{ delete_method }}' }">
    {# View Button #}
    {% if show_view %}
    <button class="ux-button ux-button--sm ux-button--clear"
                hx-get="{{ view_url }}"
                hx-target="{{ hx_target }}"
                hx-push-url="true"
                title="{% trans 'View' %}">
        {% icon "eye-outline" %}
    </button>
    {% endif %}

    {# Edit Button #}
    {% if show_edit %}
    <button class="ux-button ux-button--sm ux-button--clear"
                hx-get="{{ edit_url }}"
                hx-target="{{ hx_target }}"
                hx-push-url="true"
                title="{% trans 'Edit' %}">
        {% icon "create-outline" %}
    </button>
    {% endif %}

    {# Delete Button #}
    {% if show_delete %}
    <button class="ux-button ux-button--sm ux-button--clear ux-color-danger"
                :disabled="deleting"
                @click="$store.ui.confirmDelete($el._deleteConfig.url, $el._deleteConfig.name, $el._deleteConfig.method, $el)"
                title="{% trans 'Delete' %}">
        <div class="ux-spinner" x-show="deleting" style="width: 16px; height: 16px;"></div>
        <span x-show="!deleting">{% icon "trash-outline" %}</span>
    </button>
    {% endif %}
</div>
