{% load i18n component_tags djicons %}

<div class="table-actions d-flex gap-xs justify-center"
     x-data="{ deleting: false }"
     x-init="$el._deleteConfig = { url: '{{ delete_url }}', name: '{{ delete_name|escapejs }}', method: '{{ delete_method }}' }">
    {# View Button #}
    {% if show_view %}
    <ion-button size="small" fill="clear"
                hx-get="{{ view_url }}"
                hx-target="{{ hx_target }}"
                hx-push-url="true"
                title="{% trans 'View' %}">
        {% icon "eye-outline" slot="icon-only" %}
    </ion-button>
    {% endif %}

    {# Edit Button #}
    {% if show_edit %}
    <ion-button size="small" fill="clear"
                hx-get="{{ edit_url }}"
                hx-target="{{ hx_target }}"
                hx-push-url="true"
                title="{% trans 'Edit' %}">
        {% icon "create-outline" slot="icon-only" %}
    </ion-button>
    {% endif %}

    {# Delete Button #}
    {% if show_delete %}
    <ion-button size="small" fill="clear" color="danger"
                :disabled="deleting"
                @click="$store.ui.confirmDelete($el._deleteConfig.url, $el._deleteConfig.name, $el._deleteConfig.method, $el)"
                title="{% trans 'Delete' %}">
        <ion-spinner x-show="deleting" name="crescent" style="width: 16px; height: 16px;"></ion-spinner>
        <span x-show="!deleting">{% icon "trash-outline" slot="icon-only" %}</span>
    </ion-button>
    {% endif %}
</div>
