{% load static djicons %}
{# Single Tab Button #}
<button class="ux-tab-button{% if is_active %} tab-selected{% endif %}"
    {% if not disabled %}
    hx-get="{% url url %}"
    hx-target="#main-content-area"
    hx-push-url="true"
    {% endif %}
    {% if disabled %}disabled{% endif %}>
    {% if icon_svg %}
    <img src="{% static icon_svg %}" alt="" class="tab-icon-svg" />
    {% elif icon %}
    {% icon icon %}
    {% endif %}
    <span>{{ label }}</span>
    {% if badge %}
    <span class="ux-badge ux-color-{{ badge_color }}">{{ badge }}</span>
    {% endif %}
</button>
